<div id="Vertretungsplan">
  <h1>Vertretungsplan</h1>
  <div id="vertretungsplan_container">
    <table class="vertretungsplan left">
      <tr>
        <th colspan="8" class="datum"><%= @vertretungen_heute.date %></th>
      </tr>
      <%= render :partial => "vertretungen_klasse", :object => @vertretungen_heute %>
    </table>

    <table class="vertretungsplan right">
      <tr>
        <th colspan="8" class="datum"><%= @vertretungen_morgen.date %></th>
      </tr>
      <%= render :partial => "vertretungen_klasse", :object => @vertretungen_morgen %>
    </table>
  </div>
</div>

<div id="Termine">
  <h1>Informationen</h1>
  <%= render :partial => "information", :collection => @information %>
</div>

<div id="Uhr">
  <p class="uhr_schrift"><%= Time.now.strftime("%H:%M:%S") %></p>
</div>