<div id="Vertretungsplan">
  <h1>Vertretungsplan</h1>
  <div id="vertretungsplan_container">
    <table class="vertretungsplan left">
      <tr>
        <th colspan="8" class="datum">Donnerstag 8. Mai</th>
      </tr>
      <% @stand_ins.sort_by { |k, v| k.to_i }.each do |klazz, stunden| %>
        <% show_class = true %>
        <% stunden.each do |stunde| %>
        <tr>
          <td class="klasse"><%= klazz if show_class %></td>
          <td class="stunde"><%= stunde[0] %></td>
          <td class="lehrer"><%= stunde[1] %></td>
          <td class="fach"><%= stunde[2] %></td>
          <td class="raum"><%= stunde[3].chars %></td>
          <td class="pfeil">&#x2192;</td>
          <td class="lehrer"><%= stunde[6] %></td>
          <td class="info"><%= stunde[7] %></td>
        </tr>
        <% show_class = false %>
        <% end %>
      <% end %>
    </table>

    <table class="vertretungsplan right">
      <tr>
        <th colspan="8" class="datum">Donnerstag 8. Mai</th>
      </tr>
      <% 41.times do %>
      <tr>
        <td class="klasse">10a</td>
        <td class="stunde">2</td>
        <td class="lehrer">Jab</td>
        <td class="fach">Gk</td>
        <td class="raum">R10a</td>
        <td class="pfeil">&#x2192;</td>
        <td class="lehrer">Pre</td>
        <td class="info">in Raum PH1 | statt 1</td>
      </tr>
      <% end %>
    </table>
  </div>



</div>

<div id="Termine">
  <h1>Termine</h1>
  <%= render :partial => "appointment", :collection => @appointments %>
</div>

<div id="Veranstaltungen">
  <h1>Veranstaltungen</h1>
  <div id="Veranstaltung">
    <p class="veranstaltung_ueberschrift">NeueVeranstaltung</p>
    <div id="veranstaltung_bild">
      ...Bild...
    </div>
    <p class="veranstaltung_info">Infos zur Veranstaltung</p>
  </div>
  <div id="Veranstaltung">
    <p class="veranstaltung_ueberschrift">NeueVeranstaltung</p>
    <div id="veranstaltung_bild">
      ...Bild...
    </div>
    <p class="veranstaltung_info">Infos zur Veranstaltung</p>
  </div>
  <div id="Veranstaltung">
    <p class="veranstaltung_ueberschrift">NeueVeranstaltung</p>
    <div id="veranstaltung_bild">
      ...Bild...
    </div>
    <p class="veranstaltung_info">Infos zur Veranstaltung</p>
  </div>
</div>

<div id="infobox">
  <div id="uhr">
    <p>12:23:53</p>
  </div>

  <div id="newsticker">
    <p>neue Nachricht  -  neue Nachricht  -  neue Nachricht  -  neue Nachricht  -  neue Nachricht  -  neue Nachricht</p>
  </div>
</div>